<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    {% block head %}
    {% endblock %}
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <h1 class="title"><a class="navbar-item" href="/">Illus</a></h1>
        </div>
        {% if logged_in %}
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/post">
                    <button class="button">
                        <!-- TODO: is "create" really the right word here? -->
                        Create a post
                    </button>
                </a>
            </div>
            <div class="navbar-end">
                <form class="navbar-item" method="GET" action="/search">
                    <div class="field has-addons">
                        <div class="control">
                            <input name="search" type="text" placeholder="Search for a user" class="input">
                        </div>
                        <div class="control">
                            <input type="submit" value="Search" class="button is-info">
                        </div>
                    </div>
                </form>
                <a href="/profile" class="navbar-item">
                    <button class="button">
                        Profile {{ emaillog }}
                    </button>
                </a>
                <a href="/disconnect" class="navbar-item">
                    <button class="button is-primary">
                        Disconnect
                    </button>
                </a>
            </div>
        </div>
        {% endif %}
    </nav>
    {% block body %}{% endblock %}
</body>

</html>
