{% extends "base.html" %}
{% block title %}new post{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='js/drafting.css') }}">
{% endblock %}
{% block body %}
    <div id="main">
		<!-- <div id="editor"></div>
		<div id="images"></div> -->
		<h1 style="font-size: 30px">Create post</h1>
		<div id="editor"></div>
		<input type="submit" id="submit">
		<div id="svelte"></div>
		<div id="images"></div>
		<script src="{{ url_for('static', filename='js/drafting.js') }}"></script>
	</div>
{% endblock %}
