{% extends "base.html" %}

{% set logged_in = True %}

{% block title %}new post{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='js/drafting.css') }}">
{% endblock %}
{% block body %}
    <div id="main" class="editor-inter">
		<div id="editor-cont">
			<h1 style="font-size: 30px">Create post</h1>
			<p>Use the following syntax to generate images of you or someone else doing what you're describing: <code>[[@email doing X]]</code>. All markdown features are supported. You can specify a type of style and also animate your friends.
			<br><br>
			<div id="editor"></div>
            <br>
			<button id="submit" class="button">Create post</button>
		</div>

		<div id="svelte-images"></div>
		<script src="{{ url_for('static', filename='js/drafting.js') }}"></script>
	</div>
{% endblock %}
