{% extends "base.html" %}

<!-- Perhaps the timeline should be publicly accessible
    Maybe it should be converted into a shortcode that can be included
    elsewhere
-->

{% set logged_in = True %}

{% block title %}timeline{% endblock %}
{% block body %}
<div id="main">
    {% for post in posts %}
    <article class="message">
        <div class="message-header has-addons">
            <div class="control">
                {{ post[1] }}
            </div>
            <div class="control">
                {{ post[2] }}
            </div>
        </div>
        <div class="message-body">
            {{ post[0] | safe }}
        </div>
    </article>
    {% endfor %}
</div>
{% endblock %}
