
{% extends "base.html" %}

{% block title %}
{{ email }}
{% endblock %}

{% block body %}
<div id="main">
  <div class="is-flex is-justify-content-space-between">
    <h2 class="title is-4">{{ email }}</h2>
    {% if logged_in %}
      {% if follows %}
        <button id="followButton" class="button">unfollow</button>
      {% else %}
        <button id="followButton" class="button is-info">follow</button>
      {% endif %}
    {% else %}
      <button class="button" disabled>follow</button>
    {% endif %}
  </div>
  {% include "list_of_posts.html" %}
</div>
<script>
  const followButton = document.getElementById("followButton");
  const email = "{{ email }}";
  followButton.addEventListener('click', async e => {
    if (followButton.textContent == "follow") {
      followButton.disabled = true;
      followButton.classList.add("is-loading");

      await fetch("/api/follow/" + encodeURIComponent(email), { method: "POST" });

      followButton.disabled = false;
      followButton.classList.remove("is-loading");
      followButton.classList.remove("is-info");
      followButton.textContent = "unfollow";
    } else {
      followButton.disabled = true;
      followButton.classList.add("is-loading");

      await fetch("/api/unfollow/" + encodeURIComponent(email), { method: "POST" });

      followButton.disabled = false;
      followButton.classList.remove("is-loading");
      followButton.classList.add("is-info");
      followButton.textContent = "follow";
    }
  });
</script>
{% endblock %}